<div class="toolbar" role="banner">
  <span>Welcome to Hexad Front End Task Solution</span>
</div>

<div class="container">
   <button id="randomBtn" mat-raised-button color="primary" (click)="toggleRandom()">{{btnText}}</button>
  <mat-accordion>
    <mat-expansion-panel class="movieBar" *ngFor="let movie of moviesData | async; let movieIndex= index">
      <mat-expansion-panel-header>
        <mat-panel-title class="contentHolder">
          <div class="movieName">{{movie.name}}</div>
          <div class="movieRate" *ngIf="movie.starsEarned % movie.usersParticipated == 0">
            {{(movie.starsEarned/movie.usersParticipated)}}</div>
          <div class="movieRate" *ngIf="movie.starsEarned % movie.usersParticipated != 0">
            {{(movie.starsEarned/movie.usersParticipated).toFixed(1)}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class='box'>
        <div class="rating">
          <div class="rating-box" *ngFor="let ratingVal of [1,2,3,4,5,6,7,8,9,10]"
            (click)="increment(movieIndex, ratingVal)">
            {{ratingVal}}
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</div>